* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
button {
  font-size: inherit;
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

aside {
  background-color: #aaa;
  min-height: 100vh;
}

main {
  background-color: #ddd;
}

h1 {
  color: crimson;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

section {
  padding: 20px;
}

section > div {
  border: 1px solid #aaa;
  padding: 20px;
}
