* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
button {
  font-size: inherit;
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

aside {
  background-color: #aaa;
  min-height: 100vh;
}

main {
  background-color: #ddd;
}

h1 {
  color: crimson;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

section {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
}

.book {
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 8px;
}

.book > p {
  display: grid;
  grid-template-columns: 140px 1fr;
}

.book p + p {
  margin-top: 8px;
}

.book > button {
  margin-top: 8px;
}

aside {
  padding: 20px;
}

h2 {
  font-size: 16px;
  text-align: center;
}
